

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #000;

    background-image: url("../images/bg3.jpg");
    background-repeat: repeat-y;
    background-size: 1900px;
    margin: 3% 18% 10% 18%;
    height: 100%;

    /*background-attachment: fixed;*/
    z-index: -1;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: -120px;
    margin-left: -120px;
}


/* makes form transparent*/

.panel.panel-default {
    z-index: 1;
    background-image: url("../images/bg3.jpg");
    background-repeat: repeat-y;


}

.panel {
	background: none;
	border: none;
}

/* makes text not tranparent */

.panel.panel-default.p {
    margin: 5%;
    font-weight: bold;


}
#formheading {
	border: none;
}

.form-group {
    margin: 2%;
}

#displayTree {
	margin: 2%;

}
label {
	color: #484643
}
.card-body,
h4 {
    color: #5a2d0c;
    text-shadow: 2px 2px 15px #000000;
}

h3 {
    color: #5a2d0c;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 28px;
}
.card-body {
	margin-left: 35px;
}
.img-text {
    position: absolute;
    bottom: 8px;
    left: 24px;
}
img[src*="Luis"] {
    transform: rotate(90deg);
}
img[src*="Bev"] {
    transform: rotate(90deg);
}
img[src*="Veronica"] {
    transform: rotate(90deg);
}
img[src*="Jason"] {
    transform: rotate(90deg);
}
h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Homemade Apple', cursive;
}

h4,
td {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 28px;
    color: #5a2d0c;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 36px;
    color: #5a2d0c;
}

.navbar-brand {
    color: #2d1606;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 26px;
}

.well {
    font-size: 20px;
    background-image: url("../images/bg3.jpg");
    background-repeat: repeat-y;
    width: 80%;
}
#formheading {
	font-family: 'Homemade Apple', cursive;
	font-size: 46px;
	color: #5a2d0b;
    background-image: url("../images/bg3.jpg");
    background-repeat: repeat-y;	
}
.form-control {
	background-color: #d3d3d3;
}
p {
    color: #5a2d0c;
}
/*submit button styling*/
.btn-primary {
    color: #dcdec9;
    background-color: #635c4a;
    border-color: #675441;
    width: 120px;
    padding: 10px;
    font-size: large;
}
#submit:hover {
	background-color: #bcbf89;
	color: green;
}
.btn-group {
    margin: 2% 0%;
}
.btn {
	font-size: 20px
}
select {
	color: #5a2d0b;	
	background-color: #d3d3d3;
	font-size: 16px;
}
#faveVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    background: lightgrey;
}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	margin: 20px;
	float: left; 
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	width:120px;
	height:150px;
	border: 1px solid #ccc;
	padding: 0;
	text-decoration: none;
	color: #666;
	font-family: 'Homemade Apple', cursive;
	font-size: 18px;
	display: inline-block;
	background: lightgrey;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}
#news {
	margin-left: 0%;