body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #000;

  background-image: url("../images/bg3.jpg");
  background-repeat: repeat-y;
  background-size: 1900px;
  margin: 3% 18% 10% 18%;;

   background: url("../images/family_layout.jpg");
	 height: 100%;
	 
	 background-position: static;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	z-index: -1;
}
/*
.boxed {
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	border: 2px solid #73AD21;
}*/ 


/* makes form transparent*/

	.panel.panel-default {
	z-index: 1;
	opacity: 0.6;
	filter: alpha(opacity=90);
	background-color: #737373;
}
/* makes text not tranparent */
	.panel.panel-default.p {
		margin: 5%;
    font-weight: bold;
    color: #000;
	}
	
	div#formheading.panel-heading {
		background-color: #4f64a6;
		filter: alpha(opacity=90);
	}


.form-group {
	margin: 2%;
}


.card-body,h4 {
	color: #5a2d0c;
	text-shadow: 2px 2px 15px #000000;
}

h3 {
	color:  #5a2d0c;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 28px;
}
.img-text {
    position: absolute;
    bottom: 8px;
	left: 24px;
}

h2 {
	color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Homemade Apple', cursive;
}

h4 {
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 30px;
}
h1{
	font-family: 'Homemade Apple', cursive;
	font-size:50px;
}
.navbar-brand {
	color: #2d1606;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size:26px;
}
.well {
	background-color: #baaea1;
	font-size: 20px;
}
p {
	color: #5a2d0c;
}

.btn-group {
  margin: 2% 0%;
}

